body {

}

div:has(a) {
    padding: 100px;
}

$color-main: #f0f0f0;

article {
    display: flex;
    padding: 5px;
    div {
        flex: 1;
    }
}

footer {
    form {
        display: flex;
        justify-content: flex-end;
    }
}

.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}